<div *ngIf="data?.info" class="bg-green-900 bg-opacity-40 text-white font-mono h-screen flex flex-col">
  <!-- Header -->
  <app-header [title]="data.info.title" [subtitle]="data.info.subtitle" [logoUrl]="data.info.logoUrl"
    [socials]="data.info.socials">
  </app-header>

  <!-- Contenedor que ocupa el espacio restante -->
  <div class="flex-1 w-full overflow-auto">
    <app-window-custom [windowTitle]="'Experiencia'" [contentText]="'Descripción de mi experiencia como desarrollador.'"
      [contentList]="data.info.experience" [index]="1" [isMaximized]="maximizedIndex === 1"
      (maximizeWindow)="maximizedIndex=$event">
    </app-window-custom>

    <app-window-custom [windowTitle]="'Proyectos'"
      [contentText]="'Descripción de los proyectos en los que he trabajado.'" [contentList]="data.info.projects"
      [index]="2" [isMaximized]="maximizedIndex === 2" (maximizeWindow)="maximizedIndex=$event">
    </app-window-custom>

    <app-window-custom [windowTitle]="'Educación'" [contentText]="'Mi formación académica.'"
      [contentList]="data.info.education" [index]="3" [isMaximized]="maximizedIndex === 3"
      (maximizeWindow)="maximizedIndex=$event">

    </app-window-custom>
  </div>

  <!-- Footer -->
  <footer class="py-8 bg-green-800 text-center">
    <p class="text-green-300">© 2025 Geronimo Montes - Todos los derechos reservados</p>
  </footer>
</div>